.station-select {
  display: flex;
  justify-content: center;
  margin: 1rem;
  gap: .5rem;
  font-size: 1.5rem;
}


.city-cards {
  display: flex;
  justify-content: center;
  padding: 2rem;

  .cities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    background-color: #1c1c1c;
    padding: 1rem;
    max-width: 1200px;
    margin: auto;
  }

  @media (max-width: 992px) {
    .cities {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 600px) {
    .cities {
      grid-template-columns: 1fr;
    }
  }

}



