@use "./components/header";
@use "./components/stationSearch";
@use "./components/cityCard";
@use "./components/timetableError";
@use "./pages/cities";
@use "./pages/timetable";
@use "./pages/errorPage";
@use "./components/stopsList";
@use "./components/physicalModeSelect";
@use "./components/stopsListPopup";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scrollbar-gutter: stable;
}

body {
  background: white;
  font-family: 'Montserrat', sans-serif;
  min-height: 101vh;
}

body.no-scroll {
  overflow: hidden;
}