.timetable {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
  padding-bottom: 1rem;

  &__container {
    max-width: 815px;
    width: 100%;
  }

  h2 {
    color: #fff;
    text-indent: 2rem;
    margin: 1rem 0.2rem;
  }

  ul {
    margin-bottom: 2rem;
  }

  img {
    height: 40px;
  }

}

.departures-list,
.arrivals-list {
  width: 100%;
}

.select-mode {
  display: flex;
  justify-content: center;
  margin: 0 1rem;

  &__buttons {
    width: 815px;

    button {
      width: 50%;
      cursor: pointer;
      padding: 0.75rem 1rem;
      border: transparent;
      background: transparent;
      font-family: 'Montserrat';
      font-size: 1rem;
      color: black;
    }

    button:hover {
      background: rgba(170, 170, 170, 0.25);
    }

    button:active {
      background: rgba(170, 170, 170, 0.5);
    }

    button.active {
      // border-bottom: 3px solid #8de8fe;
      box-shadow: inset 0 -3px 0 #8de8fe;
    }

    .departures-btn {
      border-radius: 10px 0 0 0;
    }

    .arrivals-btn {
      border-radius: 0 10px 0 0;
    }

  }

}

.timetable-loading,
.timetable-no-data {
  text-align: center;
  color: white;
}

.timetable-loading {
  font-style: italic;
}

.departures,
.arrivals {
  background-color: rgb(31, 31, 31);
  padding: .1rem 0;
}

.departures-list li {
  background-color: #0053a7;
}

.departures-list li:nth-child(even) {
  background-color: #042770;
}

.arrivals-list li {
  background-color: #65c352;
}

.arrivals-list li:nth-child(even) {
  background-color: #29883a;
}

.departures-list li:hover,
.arrivals-list li:hover {
  border-color: white;
}

.timetable-row {
  margin: 1rem 2rem;
  cursor: pointer;
  border: 2px solid rgb(31, 31, 31);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  transition: border-color 0.3s ease, background-color 0.3s ease;

  &__line-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
  }

  &__number {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-align: right;
  }

  &__destination,
  &__origin {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
  }

  &__hour {
    font-size: 1.3rem;
    font-weight: bold;
    color: #ffff00;
    min-width: 80px;
    text-align: center;
  }

  &__line {
    width: 40%;
  }

  .is-delayed {
    font-weight: bold;
    font-size: 1rem;
    text-align: left;
  }

  .non-delayed {
    color: #82ff69;
  }

  .delayed {
    color: rgb(255, 88, 58);
  }

}

@media screen and (max-width: 750px) {
  .timetable li {
    flex-direction: column;
    align-items: flex-start;
  }

  .timetable-row {
    &__hour {
      text-align: left;
      margin-top: 0.5rem;
    }
  
    &__line-type {
      gap: 0.5rem;
    }
  
    &__line {
      width: initial;
    }
  }

}