.timetables {
    display: flex;
    justify-content: center;
    margin: 1rem 1rem;
    padding-bottom: 1rem;

    &__container {
        max-width: 815px;
        width: 100%;
    }

}

.timetables ul {
    width: 100%;
}

.select-mode {
    display: flex;
    justify-content: center;
    margin: 0 1rem;

    &__buttons {
        width: 815px;

        button {
            width: 50%;
            cursor: pointer;
            padding: 0.75rem 1rem;
            // border-radius: 5px 5px 0 0;
            border: transparent;
            background: transparent;
            font-family: 'Montserrat';
            font-size: 1rem;
            color: black;
        }

        button:hover {
            background: rgba(170, 170, 170, 0.25);
        }

        button:active {
            background: rgba(170, 170, 170, 0.5);
        }

        button.active {
            // border-bottom: 3px solid #8de8fe;
            box-shadow: inset 0 -3px 0 #8de8fe;
        }

        .departures-btn {
            border-radius: 10px 0 0 0;
        }

        .arrivals-btn {
            border-radius: 0 10px 0 0;
        }

    }

}

.timetable-loading {
    text-align: center;
    color: white;
    font-style: italic;
}

.departures, .arrivals{
    background-color: rgb(31, 31, 31);
    padding: .1rem 0;
}

.timetables h2 {
    color: var(--text-color-2);
    text-indent: 2rem;
    margin: 1rem 0.2rem;
}

.timetables ul {
    margin-bottom: 2rem;
}

.timetables li {
    margin: 1rem 2rem;
    cursor: pointer;
    border: 2px solid rgb(31, 31, 31);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    display: flex;
    align-items: center; /* aligne verticalement sur une ligne */
    justify-content: space-between; /* espace entre les blocs */
    gap: 1rem;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.departures-list li {
    background-color: #0053a7;
}

.departures-list li:nth-child(even) {
    background-color: #042770;
}

.arrivals-list li {
    background-color: #65c352;
}

.arrivals-list li:nth-child(even) {
    background-color: #29883a;
}

.departures-list li:hover, .arrivals-list li:hover {
    border-color: white;
}

.line-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

.timetables img {
    height: 40px;
}

.number {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-align: right;
}

.destination {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.hour {
    font-size: 1.3rem;
    font-weight: bold;
    color: #ffff00;
    min-width: 80px;
    text-align: center;
}

.is-delayed {
    font-weight: bold;
    font-size: 1rem;
    text-align: left;
}

.non-delayed {
    color: #82ff69;
}

.delayed {
    color: rgb(255, 88, 58);
}

.line {
    width: 40%;
}

@media screen and (max-width: 750px) {
    .timetables li {
        flex-direction: column; /* empile les éléments */
        align-items: flex-start; /* aligne à gauche */
    }

    .hour {
        text-align: left;
        margin-top: 0.5rem;
    }

    .line-type {
        gap: 0.5rem;
    }

    .line {
        width: initial;
    }
}



/*



.timetables li {
    margin: 0rem 2rem;
    cursor: pointer;
    border: solid rgb(31, 31, 31);
    padding: .5rem;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .timetables h2 {
        text-indent: 1rem;
    }

    .timetables li {
        margin: 0 1rem;
    }
}





.hour{
    color: #ffff00;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 60px;
    width: 61px;
}

.line{
    color: white;
    margin-left: 30px;
    width: 400px;
}

.line-type{
    width: 150px;
    color: white;
}

.line-status{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 50px;
    width: 150px;
}

.line-status div{
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.is-delayed{
    position: absolute;
    margin-left: 120px;
    width: 13%;
    font-weight: bold;
}

*/