@use "./components/header";
@use "./components/stationSearch";
@use "./components/cityCard";
@use "./components/cityCards";
@use "./components/timetableError";
@use "./pages/timetable";
@use "./components/popup";
@use "./components/stopsList";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
  scrollbar-gutter: stable;
    // overflow-y: scroll;
}

body {
    background: white;
    font-family: 'Montserrat', sans-serif;
    min-height: 101vh;
}

body.no-scroll {
    overflow: hidden;
    // padding-right: 15px;
}