* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Montserrat;
}

:root {
    --primary-color: #0C131F;
    --background-color: #FFFFFF;
    --text-color-1: #000000;
    --text-color-2: #ffffff;
}

.darkmode {
    --primary-color: #FFFFFF;
    --background-color: #0C131F;
    --text-color-1: #FFFFFF;
    --text-color-2: #000000;
}

body {
    background-color: var(--background-color);
}

.navbar {
    background-color: var(--primary-color);
    background-color: #0C131F;
    width: 100%;
    height: 60px;
    /* position: fixed; */
    /* z-index: 100; */
    transition: 0.3s;
    top: 0;
    position: initial;
}

.navbar ul {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.navbar ul li a {
    color: var(--text-color-2);
    font-size: 1.5rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}


.arrivals {
    display: none;
}

.station-select {
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: .5rem;
}

.station-select button {
    width: 25px;
    height: 25px;
    cursor: pointer;
}



#cites-container div {
    display: grid;
    justify-content: center;
}

.cities {
    background-color: #1c1c1c;
    padding: 1rem 1rem;
    display: grid;
    gap: 2rem;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}


.city {
    position: relative;
    width: 300px;
    border-radius: 10px;
    background: #000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}

.city img {
    width: 100%;
    object-fit: cover;
}

.city-name p {
    background-color: #0C131F;
    width: 100%;
}

.city-name {
    position: relative;
    background-color: #0a0a0a;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.stations-list {
    display: none;
    width: 280px;
    background: black;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    position: absolute;
    color: black;
    top: 30px;
}

.stations-list li {
    float: none;
    background-color: #8de8fe;
    border-radius: 3px;
    font-size: 1.1rem;
    margin-bottom: 0.1rem;
}

.stations-list li:active {
    background-color: white;
}

.stations-list li:hover {
    background-color: #58deff;
}


.city-name:hover .stations-list {
    display: block;
    z-index: 100;
}

@media screen and (max-width: 1000px) {
    .cities {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 680px) {

    button{
        font-size: 0.75em;
    }

    #departures-btn{
        background-color: red;
    }

    body{
        /* font-size: 0.5rem; */
    }
    
    .cities {
        grid-template-columns: repeat(1, 1fr);
    }

    body{
        /* background-color: red; */
    }
    
    #departures-btn{
        font-size: 5%;
        background: red;
    }

    #arrivals-btn, #departures-btn{
        background: red;
        width: 25%;

    }
}